html {
  box-sizing: border-box;
}

*,
::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(./images/graph1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  margin: 0;
}

.container {
  max-width: 800px;
  width: 100%;
}