html {
  box-sizing: border-box;
}

*,
::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  max-width: 800px;
  margin: 10px auto;
  background-image: url(./images/graph1.jpeg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}
