html {
  box-sizing: border-box;
}

*,
::after, ::before {
  box-sizing: inherit;
}

.body {
  max-width: 800px;
  margin: 10px auto;
  font-family: 'Alexandria', sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
